.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-control-panel-1 {
    justify-content: center;
}

.avatar-control-panel-2 {
    justify-content: center;
}