.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .inner-avatar-container{
   border-style: solid;
   border-color: white;
 }
 
 .avatar-control-panel {
    justify-content: center;
 }

 .content-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
 }
 
 .home-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
 }
 
 .home-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    translate: -2.5em;
 }
 
 .home-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 
 .home-log-out-row {
    display: flex;
    justify-content: center;
 }
 
 .avatar-and-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .recalibrate-button {
    translate: 5.2em;
 }
 .header {
    font-family: 'Helvetica';
    font-weight: 100;
 }
 
 .card {
    background-color: #212035;
    border-radius: 10px;
    width: 500px;
    height: 100px;
    margin-top:0px;
 }

 .card-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
 }

 .card-and-header {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: left;
 }

 .calendar {
    font-family: "Helvetica";
    border-radius: 0px;
    width: 600px;
 }

 .react-calendar {
    width: 350px;
    height: 300px;
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }

  .side-bar{
    background-color: #040011;
    border-right-style: solid;
    border-right-color: white;
    width: 100px;
    height: 100%;
    position:absolute;
    left: 0px;
    top: 0px;
  }

  .calendar{
   margin: 20px;
   border-style: solid;
   border-color:white;
   border-width: 1px;
 }

 .circular-metric{
   height: 50px;
 }